<md-content layout-padding>
  <md-input-container>
    <label>Filtrer par membre</label>
    <md-select ng-model="prpc.selectedMember">
      <md-option ng-repeat="member in prpc.members track by $index" 
                ng-value="member.id">{{ member.firstName}} {{ member.lastName }}
      </md-option>
    </md-select>
    <md-button class="md-raised md-accent" 
               ng-show="prpc.selectedMember"
               ng-click="prpc.selectedMember = null"
               type="button">Effacer le filtre
    </md-button>
  </md-input-container>
  <div ng-repeat="member in prpc.members track by $index"
       ng-if="!prpc.selectedMember || prpc.selectedMember && member.id == prpc.selectedMember">
    <div class="member"
        md-colors="{'background-color': 'primary'}">{{ member.firstName }} {{ member.lastName }}
    </div>
    <i class="material-icons"
      md-colors="{'color': 'accent'}">keyboard_arrow_right
    </i>
    <div ng-repeat="receiver in prpc.members track by $index"
        class="member receiver"
        md-colors="{'background-color': 'primary'}"
        ng-if="receiver.id == prpc.pige[member.id-1]">{{ receiver.firstName }} {{ receiver.lastName }}
    </div>
  </div>
  <div>
    <md-button class="md-raised md-accent" 
               ng-click="prpc.runPige()"
               type="button">Relancer la pige
    </md-button>
  </div>
</md-content>