@import '../../../common/styles/variables';

pige-result-page {
  .member {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    border-radius: 5px;
  }

  i {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
  }

  .receiver {
    margin-left: 20px;
  } 
}