@import './variables';

body {
  position: relative;
  line-height: 30px;
  background-color: $background;
  color: $text;

  md-content {
    color: #575d6b;
    background-color: transparent;
  }

  .ui-transition-view {
    &.ng-enter {
        opacity: 0;
        transition: opacity .4s ease;
    }

    &.ng-enter-active {
        opacity: 1;
    }

    &.ng-leave {
        opacity: 1;
    }

    &.ng-leave-active {
        opacity: 0;
    }
  }  
}

h1 {
  font-size: 60px;
}

.md-button {
  font-size: 10px;
}

md-menu-item>a.md-button {
  padding-top: 0;
}

form {
  max-width: 600px;
  margin: auto;
}

.tag {
  font-size: 12px;
  line-height: 12px;
  padding: 4px;
  color: $white;
  border-radius: 3px;
}