<md-toolbar class="md-menu-toolbar">
  <div layout="row">
    <md-toolbar-filler layout 
                       layout-align="center center">
      <i class="material-icons">card_giftcard</i>
    </md-toolbar-filler>
    <div>
      <a ui-sref="home-page">
        <h2 class="md-toolbar-tools"
            md-colors="{color: 'default-accent'}">Pige de Noël
        </h2>      
      </a>
      <md-menu-bar>
        <md-menu>
          <button ng-click="$mdMenu.open()">Membres</button>
          <md-menu-content>
            <md-menu-item>
              <md-button ui-sref="member-page">Ajouter</md-button>
            </md-menu-item>            
            <md-menu-item>
              <md-button ui-sref="members-page"
                         ng-disabled="!hbc.members.length">Voir la liste</md-button>
            </md-menu-item>            
          </md-menu-content>
        </md-menu>        
        <md-menu>
          <button ng-click="$mdMenu.open()"
                  ng-disabled="!hbc.manager">Pige</button>
          <md-menu-content>
            <md-menu-item>
              <md-button ng-click="hbc.runPige()"
                         ng-if="!hbc.pige">Lancer
              </md-button>
              <md-button ng-click="hbc.runPige()"
                         ng-if="hbc.pige">Relancer
              </md-button>
            </md-menu-item>            
            <md-menu-item>
              <md-button ui-sref="pige-result-page"
                         ng-disabled="!hbc.pige">Voir les résultats
              </md-button>
            </md-menu-item>            
          </md-menu-content>
        </md-menu>        
      </md-menu-bar>
    </div>
  </div>
</md-toolbar>